<div>
  <h2 class="post-margin"><u>Events</u></h2>
  <div class="scroll">
    {{#each activities}}
        <strong>{{type}}</strong>
        {{!-- type = Short title of activity <br /> --}}
        <br>
        {{where}}
        {{!-- <br /> --}}
        {{event_date}}
        {{!-- event_date IS OPTIONAL: tie in with JQuery calendar? <br /> --}}
         {{event_time}}
         <br>
        {{!-- event_time IS OPTIONAL: tie in with JQuery calendar? <br /> --}}
        {{#if group_activity}}
        This is a group activity
        {{else}}
        This is not a group activity
        {{/if}}
        <br>
        {{!-- group_activity IS OPTIONAL <br /> --}}
        {{description}}
        <b></b>
        <hr  noshade>
        {{/each}}
  </div>
</div>